body{
    padding-bottom: 50px;
}

#title{
    text-align: center;
}

.card-checkout {
  display: flex;
  align-items: center;
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  gap: 15px;
}

.card-checkout img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.card-checkout .card-info {
  flex-grow: 1;
}


.valor-total-fixo {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  color: white;
  background-color: #E40DB0;
  border-top: 2px solid #ccc;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  z-index: 999;
}
